a {
    color:white;
}

body {
    margin: 0px;
}
.menu{
        width: 100%;
        background-color: indigo;
        color:white;
        font-family: sans-serif;
        
    }

    
    
    .menu-item{
        font: 22px;
        padding:10px;
        display:inline-block;
    

    }

    .assignment-menu-item{
        font: 22px;
        padding:10px;
        display:inline-block;
    }

    .menu-item:hover{
        background-color:darkblue;
        cursor: pointer;
        

    }

    .container{
        margin: 0 auto;
        width: 1200px;
        display:block;
        text-align:center;

    }
    


    .outside{
        height: 50px;
        width: 200px;
        position:relative;
        top:0;
        background-color: springgreen;
    
    }

    .dropdown{
        display:none;
        text-align:center;
    }

    .assignment-menu-item:hover .dropdown{
        height:100px;
        width:130px;
        position:absolute;
        top:44px;
        left: 70px;
        background-color:darkgreen;
        display:block;
        font-size: 15px;
        text-align: center;


    }

    .dropdown-item:hover{
        background-color: lightgreen;
        

    }
    
    .writings{
        color:indigo;
    }

    .jumbotron{
        margin: 4%;
    }

    .display-3{
        font-size: 50px;
    }

    
    